body {
    font-family: Roboto, Arial, sans-serif;
}

main {
    margin: auto;
    width: 100%;
    padding: 0 0 30px 0;
}

h2 {
    margin-top: 200px;
    text-align: center;
    color: white;
}

.overlay {
    background: rgba(17, 17, 17, 0.35) no-repeat center center fixed;
    width: 100%;
    height: 300%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.layout-transparent {
    background: url("../images/index_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-content {
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.question-text, .sites {
    width: 40%;
    padding:0 !important;
    margin: 0 !important;
}

.question-text > input {
    width: 100% !important;
    height: 60px !important;
    -webkit-border-radius: 2rem 0 0 2rem;
    -moz-border-radius: 2rem 0 0 2rem;
    border-radius: 2rem 0 0 2rem;
}

.sites > select {
    width: 100% !important;
    height: 60px !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.search-btn {
    width: 20%;
    padding:0 !important;
    -webkit-border-radius: 2rem 2rem 0;
    -moz-border-radius: 0 2rem 2rem 0;
    border-radius: 0 2rem 2rem 0;
}

.search-div {
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
}

