div, body, p, main, span, form, input {
    font-family: Roboto, Arial, sans-serif;
}

.question {
    max-height: 200px;
    align-items: stretch;
    padding: 16px 0;
    border-bottom: 1px solid #e2f0f9;
}

.stats {
    margin: 0 8px 0 0;
    width: 70px;
    min-width: 70px;
    vertical-align: baseline;
}

.votes {
    font-size: 11px;
    color: inherit;
    padding: 4px 0;
}

.status {
    text-align: center;
    margin-bottom: 8px;
    color: #6a737c;
    padding-bottom: 7px;
}

.answered{
    border: 1px solid rgba(69, 161, 99, 0.5);
    padding: 7px 0 5px;
    color: #45A163;
}

.search-text {
    min-width: 300px;
    margin-left: 8px;
    -webkit-border-radius: .25rem 0 0 .25rem;
    -moz-border-radius: .25rem 0 0 .25rem;
    border-radius: .25rem 0 0 .25rem;
}

.site-selector {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.sorting-selector{
    -webkit-border-radius: 0 .25rem .25rem 0rem;
    -moz-border-radius: 0 .25rem .25rem 0rem;
    border-radius: 0 .25rem .25rem 0rem;
}

#search_submit {
    color: white;
}

a:link {
    color: blue;
}

a:visited {
    color: lightslategrey;
}

a:hover {
    color: deepskyblue;
}

.question-title {
    color: blue;
    font-size: 16px;
}

.view-count {
    text-align: center;
    font-size: 12px;
}

.question-body {
    font-size: 14px;
    padding-bottom: 8px;
    padding-top: 8px;
}

strong {
    color: inherit;
    font-size: 20px;
}

main {
    padding: 0 40px 0 80px;
}

.tag {
    white-space: nowrap;
    text-align: center;
    border: 1px solid transparent;
    font-size: 12px;
    color: #39739d;
    background-color: #e1ecf4;
    padding:4px;
    margin: 4px;
}

.meta-question {
    display: inline;
    margin: 8px 0;
}

.owner {
    width: 200px;
    float: right !important;
    line-height: 18px;
}

.owner-info {
    width: 200px;
    padding: 5px 6px 7px 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #848d95;
    font-size: 12px;
}

.creation-time {
    margin-bottom: 4px;
}

.owner-avatar {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 1px;
}

.owner-avatar-wrapper {
    width: 32px;
    height: 32px;
}

.owner-details {
    margin-left: 8px;
    float: left;
}

.page-empty-results {
    font-size: 14px;
    margin: 10px 0;
    line-height: 18px;
}

.page-empty-results > p {
    clear: both;
    margin-bottom: 1em;
    margin-top: 0;
}

.no-spinners {
    -moz-appearance:textfield;
    width: 52px !important;
    text-align: center;
    margin: 0 8px;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
