<!DOCTYPE html>
<html>
<head>
    <link href="css/error.css" rel="stylesheet">
</head>
<body>
<div class="error-pepe">
    <img src="images/pepe.png" width="277px" height="460px">
</div>
<div class="error-header">
    <h1>Oops! An Error Occurred</h1>
</div>
<div class="error-content">
    <div class="apologies">Frog Pepe understood everything and will try to improve!</div>
    <a href="/">Go Home</a>
</div>
</body>
</html>