<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-pink.min.css"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/css/search.css">
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--scroll">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <a style="width: 120px" href="/">
                <svg data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 223.52 55.97">
                    <defs>
                        <style>.cls-1 {
                            fill: #ffffff;
                        }</style>
                    </defs>
                    <title>Home page</title>
                    <path d="M7.9,69.15H6.14c-.59,0-.88-.32-.88-1V54.94c0-.89.32-1.33,1-1.33H7.72a.78.78,0,0,1,.79.4,16.1,16.1,0,0,1,.55,2.8Q10.5,66,15.63,66a4.79,4.79,0,0,0,4.2-2.32,10,10,0,0,0,1.53-5.63,12.76,12.76,0,0,0-1.63-6.33,45.51,45.51,0,0,0-6.31-7.87A64.42,64.42,0,0,1,8.26,38,18.43,18.43,0,0,1,5.8,33.25a17.34,17.34,0,0,1-.93-5.8,15.13,15.13,0,0,1,2.94-9.6A8.8,8.8,0,0,1,15,14.09a9.44,9.44,0,0,1,4.15,1.1,3.94,3.94,0,0,0,1.34.5,1.42,1.42,0,0,0,.77-.29,2,2,0,0,1,1.05-.25h1.31c.67,0,1,.31,1,1V27.73c0,.59-.25.88-.77.88H22.2a.87.87,0,0,1-.82-.33,14.91,14.91,0,0,1-.69-2.55Q19,18.1,15.31,18.1a3.76,3.76,0,0,0-3.21,1.69,6.48,6.48,0,0,0-1.22,3.9A11.23,11.23,0,0,0,12.31,29,34.38,34.38,0,0,0,18,36a41.66,41.66,0,0,1,7.54,9.83A20.56,20.56,0,0,1,27.62,55q0,6.69-3.5,10.87a10.52,10.52,0,0,1-8.31,4.18,14.18,14.18,0,0,1-5-1.13,4,4,0,0,0-1.3-.39,1.87,1.87,0,0,0-.92.36A1.52,1.52,0,0,1,7.9,69.15Z"
                          transform="translate(-4.87 -14.09)"></path>
                    <path d="M55,69.15H30.92a.75.75,0,0,1-.84-.85V66.76c0-.5.39-1,1.16-1.62a3,3,0,0,0,1-2.53V21A3.12,3.12,0,0,0,31,18.24a1.7,1.7,0,0,1-.88-1.41V15.15c0-.45.28-.67.84-.67H49c.33,0,.95,0,1.87-.11s1.33-.1,1.54-.1c.78,0,1.16.21,1.16.63V25.24a1.73,1.73,0,0,1-.15,1,1.5,1.5,0,0,1-.9.16h-1.3c-.56,0-.88-.33-1-1a14.78,14.78,0,0,0-1.39-4.7c-.67-1.3-2-1.95-4-1.95H40.42v19.9H42a2.87,2.87,0,0,0,2.08-.58,11.14,11.14,0,0,0,1.4-3.64,4.66,4.66,0,0,1,.39-1.09c.07-.07.28-.1.63-.1h1.55c.61,0,.91.29.91.88V47.35a.74.74,0,0,1-.84.84H46.53a.89.89,0,0,1-.74-.26,6.29,6.29,0,0,1-.56-1.63c-.42-1.67-.88-2.68-1.37-3a3.39,3.39,0,0,0-2-.54h-1.4V65h4.74c1.76,0,3-.41,3.66-1.24s1.52-3.12,2.53-6.84c.23-.85.65-1.27,1.26-1.27h1.52a.78.78,0,0,1,.87.88Z"
                          transform="translate(-4.87 -14.09)"></path>
                    <path class="cls-1"
                          d="M66.85,35.26A9,9,0,0,1,72.53,37a5.28,5.28,0,0,1,2.23,4.36,3.64,3.64,0,0,1-1,2.6A3.55,3.55,0,0,1,71,45a3.81,3.81,0,0,1-2.38-.79,2.68,2.68,0,0,1-1-2.27A3.25,3.25,0,0,1,68,40.64a2.17,2.17,0,0,0,.21-.74q0-1.23-1.86-1.23a3.39,3.39,0,0,0-2.38,1,3.51,3.51,0,0,0-1,2.69,4.73,4.73,0,0,0,.95,2.8,25.54,25.54,0,0,0,5,4.23,21.59,21.59,0,0,1,5.45,5.19,9.61,9.61,0,0,1,1.55,5.36,9.19,9.19,0,0,1-3.06,7.37,10.87,10.87,0,0,1-7.28,2.62A10.28,10.28,0,0,1,59,68a5.89,5.89,0,0,1-2.48-4.87,4.17,4.17,0,0,1,1-2.79,3.5,3.5,0,0,1,2.85-1.18c2.25,0,3.37,1.06,3.37,3.2a5.94,5.94,0,0,1-.21,1.37,4.49,4.49,0,0,0-.22,1.09c0,1.15.82,1.72,2.47,1.72a4.27,4.27,0,0,0,3.09-1.18,3.6,3.6,0,0,0,1.24-2.69,4.85,4.85,0,0,0-1.08-3,24.58,24.58,0,0,0-4.2-3.78,30.79,30.79,0,0,1-5.94-5.57,9.19,9.19,0,0,1-1.72-5.61,8.59,8.59,0,0,1,3-6.78A9.9,9.9,0,0,1,66.85,35.26Z"
                          transform="translate(-4.87 -14.09)"></path>
                    <path class="cls-1"
                          d="M97.54,60.57q-.81,9.32-8.4,9.32a9.24,9.24,0,0,1-8-4.26q-3-4.24-3-12.73Q78.21,44.68,81,40t7.51-4.71a7.9,7.9,0,0,1,6.75,3.65q2.56,3.66,2.57,9.67v3a.77.77,0,0,1-.88.85H86v2.88a22.48,22.48,0,0,0,.91,7.28,3.28,3.28,0,0,0,3.2,2.53q2.68,0,3.7-5.13ZM91.08,48.51V43.66c0-3.38-.87-5.06-2.61-5.06S86,40.75,86,45.06v3.45Z"
                          transform="translate(-4.87 -14.09)"></path>
                    <path class="cls-1"
                          d="M112.49,48V43.1q0-4.37-3.38-4.36c-.8,0-1.19.24-1.19.74a2.77,2.77,0,0,0,.21.84,4.73,4.73,0,0,1,.42,1.76,3.12,3.12,0,0,1-3.31,3.2,3.62,3.62,0,0,1-2.7-1,3.72,3.72,0,0,1-1-2.73A5.27,5.27,0,0,1,104,37a9.72,9.72,0,0,1,5.74-1.74q4.61,0,7.16,2.47a9.36,9.36,0,0,1,2.55,7V62.26a6.17,6.17,0,0,0,.3,2.19,1.61,1.61,0,0,0,1.31,1c.57.12.85.42.85.91v1.52q0,1.86-2.88,1.86A5.33,5.33,0,0,1,113.7,66c-2.25,2.6-4.43,3.91-6.51,3.91a6,6,0,0,1-4.93-2.48,10,10,0,0,1-1.94-6.35Q100.32,51.15,112.49,48Zm0,3.58q-5,1.83-5,8,0,4.89,2.56,4.89a2,2,0,0,0,1.76-1.11,4.83,4.83,0,0,0,.64-2.44Z"
                          transform="translate(-4.87 -14.09)"></path>
                    <path class="cls-1"
                          d="M130.56,43.1q2.31-7.56,6.5-7.56a3.24,3.24,0,0,1,2.65,1.16,4.39,4.39,0,0,1,.06,5.43,3,3,0,0,1-2.39,1.11,3.85,3.85,0,0,1-3-1.59,17.91,17.91,0,0,0-2.53,9.67v12a3.84,3.84,0,0,0,1.34,2.85c.37.33.56.58.56.74v1.76c0,.35-.15.53-.46.53h-9.59c-.29,0-.43-.12-.43-.35V66.62c0-.22.17-.39.5-.53a2,2,0,0,0,1.12-2V42.39a4.24,4.24,0,0,0-1.16-3.06,1.38,1.38,0,0,1-.46-.77V36.84c0-.47.33-.72,1-.74l6.26-.11Z"
                          transform="translate(-4.87 -14.09)"></path>
                    <path class="cls-1"
                          d="M161.74,58.81q-.63,11.07-8.68,11.08a9.3,9.3,0,0,1-7.81-4.19q-3.06-4.19-3.06-12.8,0-9,3.25-13.34a9.88,9.88,0,0,1,8.18-4.3,8.25,8.25,0,0,1,5.61,2,6.31,6.31,0,0,1,2.26,4.94,4.14,4.14,0,0,1-1.05,3,3.48,3.48,0,0,1-2.64,1.11,3.09,3.09,0,0,1-3.2-3.16,4.55,4.55,0,0,1,.88-2.5,1.77,1.77,0,0,0,.39-.84c0-.78-.62-1.16-1.87-1.16q-4,0-4,8.12v8.12q0,10.26,4.26,10.26c2.16,0,3.4-2.22,3.73-6.68Z"
                          transform="translate(-4.87 -14.09)"></path>
                    <path class="cls-1"
                          d="M172.39,42.15V64.08a3,3,0,0,0,.81,2.08q.39.42.39.6v1.93c0,.3-.17.46-.5.46h-8.71c-.38,0-.57-.18-.57-.53V66.76c0-.17.16-.37.46-.6a3,3,0,0,0,1.16-2.5v-43A2.7,2.7,0,0,0,163.92,18a1,1,0,0,1-.63-.91V15.39c0-.42.25-.63.77-.63l8.33-.28v24c2.23-2,4.38-2.92,6.47-2.92q5.76,0,5.77,6.89V64.08a3.62,3.62,0,0,0,.93,2.25,1.7,1.7,0,0,1,.47.78v1.47c0,.38-.17.57-.53.57h-8.61a.5.5,0,0,1-.56-.57V66.76a.76.76,0,0,1,.39-.57,2.17,2.17,0,0,0,.95-1.75V42.74c0-1.68-.7-2.53-2.08-2.53A4.19,4.19,0,0,0,172.39,42.15Z"
                          transform="translate(-4.87 -14.09)"></path>
                    <path class="cls-1"
                          d="M208,60.57q-.81,9.32-8.4,9.32a9.24,9.24,0,0,1-8-4.26q-3-4.24-3-12.73,0-8.22,2.8-12.93t7.5-4.71a7.9,7.9,0,0,1,6.75,3.65q2.58,3.66,2.57,9.67v3c0,.57-.29.85-.88.85h-11v2.88a22.43,22.43,0,0,0,.92,7.28,3.28,3.28,0,0,0,3.2,2.53c1.78,0,3-1.71,3.7-5.13Zm-6.47-12.06V43.66c0-3.38-.87-5.06-2.6-5.06s-2.5,2.15-2.5,6.46v3.45Z"
                          transform="translate(-4.87 -14.09)"></path>
                    <path class="cls-1"
                          d="M218.27,43.1q2.32-7.56,6.5-7.56a3.26,3.26,0,0,1,2.66,1.16,4.17,4.17,0,0,1,1,2.74,4.1,4.1,0,0,1-.92,2.69,2.94,2.94,0,0,1-2.39,1.11,3.83,3.83,0,0,1-3-1.59,17.82,17.82,0,0,0-2.53,9.67v12a3.83,3.83,0,0,0,1.33,2.85c.38.33.56.58.56.74v1.76c0,.35-.15.53-.45.53h-9.6c-.28,0-.42-.12-.42-.35V66.62c0-.22.16-.39.49-.53a2,2,0,0,0,1.13-2V42.39a4.24,4.24,0,0,0-1.16-3.06,1.32,1.32,0,0,1-.46-.77V36.84c0-.47.33-.72,1-.74l6.26-.11Z"
                          transform="translate(-4.87 -14.09)"></path>
                </svg>
            </a>
            <form class="form-inline" method="GET">
                <div class="form-group">
                    <input name="search_text" class="search-text form-control" id="search_text"
                           placeholder="What is your question?" autocomplete="off" value="{{search_text}}" required>
                    <select class="site-selector form-control" name="site">
                        {{#sites}}
                            <option data-thumbnail="{{icon_url}}" value="{{api_site_parameter}}">
                                <div style="display: inline-block;">{{name}}</div>
                            </option>
                        {{/sites}}
                    </select>
                    <select class="sorting-selector form-control" name="sort">
                        <option value="activity">Last activity date</option>
                        <option value="creation">Creation date</option>
                        <option value="votes">Score</option>
                        <option value="relevance">Relevance on the site</option>
                    </select>
                    <input type="hidden" name="page" value="1">
                </div>
                <button id="search_submit" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">send</i>
                </button>
            </form>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            {{#isResultsExist}}
                <ul id="result" class="mdl-list">
                    {{#questions}}
                        <li class="question mdl-list__item">
                            <span style="align-items: stretch" class="mdl-list__item-primary-content">
                                <div class="stats">
                                    <div class="status">
                                        <span class="vote-count">
                                            <strong>{{score}}</strong>
                                        </span>
                                        <div class="votes">votes</div>
                                    </div>
                                    {{#is_answered}}
                                        <div class="status answered">
                                        <strong>{{answer_count}}</strong>
                                        <div class="votes">answers</div>
                                    </div>
                                    {{/is_answered}}
                                    {{^is_answered}}
                                        <div class="status">
                                        <strong>{{answer_count}}</strong>
                                        <div class="votes">answers</div>
                                    </div>
                                    {{/is_answered}}
                                    <div class="view-count">{{view_count}} views</div>
                                </div>
                                <div style="width: 100%;">
                                    <a class="question-title" href="{{link}}" target="_blank">{{title}}</a>
                                    <div class="question-body mdl-list__item-text-body">
                                        {{body_markdown}}
                                    </div>
                                    <div class="meta-question">
                                        <div style="width: 60%;float: left;" class="container">
                                            <div class="row">
                                                {{#tags}}
                                                    <div class="tag col-auto">{{.}}</div>
                                                {{/tags}}
                                            </div>
                                        </div>
                                        <div class="owner">
                                            <div class="owner-info">
                                                <div class="creation-time">asked {{creation_date}}</div>
                                                {{#owner}}
                                                    {{#isExist}}
                                                        <div class="owner-avatar">
                                                            <a href="{{link}}" target="_blank">
                                                                <div class="owner-avatar-wrapper">
                                                                    <img src="{{profile_image}}" alt width="32"
                                                                         height="32">
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="owner-details">
                                                            <a href="{{link}}">{{display_name}}</a>
                                                            <div>
                                                                <span title="user reputation score">{{reputation}}</span>
                                                            </div>
                                                        </div>
                                                    {{/isExist}}
                                                {{/owner}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </li>
                    {{/questions}}
                </ul>
            {{/isResultsExist}}
            {{^isResultsExist}}
                <div class="page-empty-results">
                    <p>Your search returned no matches</p>
                    <p>Possible solutions:</p>
                    <ul id="solutions">
                        <li>Try another query</li>
                        <li>Choose another site for search</li>
                    </ul>
                </div>
            {{/isResultsExist}}
        </div>
        <div style="display: inline-block;">
            {{^isFirstPage}}
                <button id="prev_btn" class="btn btn-outline-dark" style="float: left;">Prev</button>
            {{/isFirstPage}}
            <form id="page_form" class="form-inline" style="float: left;">
                <input class="no-spinners form-control" type="number" width="20px" id="current_page_num"
                       value="{{currentPage}}">
            </form>
            {{^isLastPage}}
                <button id="next_btn" class="btn btn-outline-dark" style="float: left;">Next</button>
            {{/isLastPage}}
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script src="js/search.js"></script>
</body>
</html>